.post {
  border-radius: .5em;
  box-shadow: 0 0 .5em #000;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}

.post:hover {
  transform: scale(1.01);
}

.title {
  margin: 0;
}

.title a {
  color: #000;
  text-decoration: none;
}

.meta {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .meta {
    flex-direction: column;
  }
  .meta * {
    margin: .25em 0s;
  }
}
