.list {
  margin: 0 auto;
  padding: 0 2em;
}

.appear {
  opacity: 0;
}

.appearActive {
  opacity: 1;
  transition: opacity 0.3s;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 0.3s;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0;
  transition: opacity 0.3s;
}
